<section>

  <h3>Napisz do nas</h3>
  
<form method="POST" action="//forms.brace.io/{{ site.data.settings.email }}">
  
  <div class="contact-info-group">

    <label><span>Imie</span>
    <input type="text" name="name"></label>
    
    <label><span>Email</span>
    <input type="email" name="_replyto"></label>

  </div>

  <label><span>Wolimy oglądać zdjęcia, ale poniżej możesz też napisać do nas</span>
  <textarea name="message"></textarea></label>

  <div class="submit-wrap">
    <input type="submit" value="Wyślij">
  </div>

</form>
  
</section>